node_modules
.next
.env

.vercel

# client
client/node_modules
client/.vercel
client/.next

# dev SKETCHES JAVASCRIPT FILES
client/dev_sketches/**/*.js
client/sketch/**/**/*.js

# portfolio_studio (sanity)
portfolio_studio/node_modules
