.random {
  color: #e68bc0;
  color: #32727a;
}

.javasript {
  color: #f3e629;
}

.nodejs {
  color: #3e8565;
}

.react {
  color: #61dafb;
}

.emotion {
  color: #c43bad;
}

.greensock {
  color: #70c430;
}

.github {
  color: #161b22;
}

// SOCIAL

.twitter {
  color: #1da1f2;
}

.email {
  color: #4e2fc0;
}

.instagram {
  color: #e275b1;
  color: #0d2038;
}

.mongodb {
  color: #13aa52;
}

//
.common-icon-color {
  color: #c7438b;
  color: #683faa;
  color: #aa3f86;
  color: #9f56ca;
  color: #b13c6d;
  color: #af4772;
  color: #bb438d;
  color: #6e4bc0;
  color: #c04b8f;
  color: #0d2038;
  color: #383081;
  color: #7e2768;
  color: #27577e;
  color: #233f55;
  color: #c94e81;
}

//
