.random {
  color: #e68bc0;
  color: #32727a;
}

.javasript {
  color: #f3e629;
}

.nodejs {
  color: #3e8565;
}

.react {
  color: #61dafb;
}

.emotion {
  color: #c43bad;
}

.greensock {
  color: #70c430;
}

.github {
  color: #161b22;
}
