.random {
  color: #e68bc0;
  color: #32727a;
}

.javasript {
  color: #f3e629;
}

.nodejs {
  color: #3e8565;
}

.react {
  color: #61dafb;
}

.emotion {
  color: #c43bad;
}

.greensock {
  color: #70c430;
}

.github {
  color: #161b22;
}

// SOCIAL

.twitter {
  color: #1da1f2;
}

.email {
  color: #4e2fc0;
}

.instagram {
  color: #e275b1;
  color: #0d2038;
}

.mongodb {
  color: #13aa52;
}

//
.common-icon-color {
  color: #c7438b;
}

//
